body {
    background: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 200px 0 200px;
}

.left-links a {
    font-size: 24px;
    color: #F9FAF8;
}

.right-links {
    display: flex;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

ul {
    display: flex;
    list-style: none;
    gap: 48px;

}

