body {
    background: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 200px 0 200px;
}

.left-links a {
    font-size: 24px;
    color: #F9FAF8;
}

.right-links {
    display: flex;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    padding: 100px 200px 100px 200px;
}

.hero-title {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    padding-left: 40px;
}

.hero-title .title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-title .subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-title button {
    font-size: 18px;
    background-color: #3882F6;
    border: none;
    border-radius: 4px;
}

.hero-container img {
    height: 250px;
    width: 500px;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 0 0 50px 0;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.info-container .title {
    font-size: 48px;
    font-weight: 500;
    color: #0a0e09;
    padding: 50px 0 50px 0;
    
}

.cards-container {
    display: flex;
    justify-content: flex-start;
    gap: 75px;
    height: 300px;
    padding: 0 150px 0 150px;
}

.cards-container .card {
    display: flex;
    flex-wrap: wrap;
    max-width: 350px;
    justify-content: center;
    text-align: center;
    
}

.cards-container img {
    max-width: 150px;
    max-height: 350px;
    border-radius: 8px;
    border: 2px solid black;
}

.quote-container {
    display: flex;
    background: #E4E7EB;
    flex-direction: column;
}

.quote-container .quote li {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
    padding: 100px 300px 100px 300px;
}

.quote-container .caption {
    align-self: flex-end;
    padding-right: 300px;
    margin-top: -100px;
    margin-bottom: 60px;
}

.quote-container .caption li {
    font-weight: 900;
}

.action-container {
    background: white;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.action-container .outer {
    background: #3882F6;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin: 80px 150px 80px 150px;
}

.action-container .inner {
    display: flex;
    justify-content: center;
    gap: 250px;
    padding: 50px 100px 50px 100px;
    color: white;
}

.action-container .left-side {
    display: flex;
    flex-direction: column;
}

.action-container .left-side div {
    display: flex;

}

.action-container .right-side div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-container .right-side button {
    font-size: 18px;
    color: white;
    background: #3882F6;
    border: 2px solid white;
    border-radius: 8px;

}

.footer {
    display: flex;
    justify-content: center;
    background: #1F2937;   
}

.footer .copyright ul {
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    color: #E5E7EB;
    padding: 20px 0 20px 0;

}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

ul {
    display: flex;
    list-style: none;
    gap: 48px;
}

